.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    position: relative;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,.pure-table th {
    box-sizing: content-box;
    border: 2px solid #cbc7c7;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}


.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}



.pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0;
}

.selected{
    /*outline: cornflowerblue 2px solid ;*/
}

.cell-content {
    user-select: auto;
}


.menu-item {
    padding: 4px 8px;
    cursor: pointer;
}


.selectedOne{
    width: 7px;
    height: 7px;
    background-color: aqua ;
    right: 0;
    bottom: 0;
    cursor: crosshair;
    position: absolute;
}

.selectedChange{
    width: 7px;
    height: 7px;
    background-color: red ;
    position: absolute;
    left: 0;
    top: 0;
}
.divSelect{
    user-select: none;
    position: relative;
}

.selected-region {
    position: absolute;
    outline: cornflowerblue 2px solid ;
    pointer-events: none; /* 让上层元素不响应事件 */
}
